.Logo {
    display: flex;
    justify-content: center;
    position: absolute;
    object-fit: contain;
    width: 100px; height: 75px;
}

.Ribbon {
    display: inline-block;
    position: absolute;
    right: 0;
}

.Buttons {
    min-height: 75px; min-width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Home-button {
    background-color: transparent; color: black;
    border: none; height: 50px;  width: 120px;
    cursor: pointer;
    font-family: Montserrat; font-size: 15px; font-weight: 600;
    border-radius: 100px;
    display: inline-block;
}

.Landmarks-button {
    background-color: rgb(120, 174, 63); color: white;
    border: none; height: 50px;  width: 120px;
    cursor: pointer;
    font-family: Montserrat; font-size: 15px; font-weight: 600;
    border-radius: 100px;
    display: inline-block;
}

.Schedule-button{
    background-color: transparent; color: black;
    border: none; height: 50px; width: 120px;
    cursor: pointer;
    font-family: Montserrat; font-size: 15px; font-weight: 600;
    border-radius: 100px;
    display: inline-block;
}

.SignIn-button{
    background-color: transparent; color: black;
    border: none; height: 50px; width: 120px;
    cursor: pointer;
    font-family: Montserrat; font-size: 15px; font-weight: 600;
    border-radius: 100px;
    display: inline-block;
}

