body{
    background-image: url(./assets/Main\ Background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.navbar{
    display: none !important;
}

#logo{
    width: 80px;
}

#origin-select,
#destination-select {
    background-color: #225e9a !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold; /* optional but looks better with Montserrat */
}

#origin-select option,
#destination-select option {
    background-color: #225e9a;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}
/* dito papalitan sa menu selection ribbon*/
#home{
    background-color: #8cc63e;
    color: white;
    padding:20px;
    margin: 0px;
    border-radius: 50px;
}

#landmarks, #schedule, #sign-in{
    padding:20px;
    margin: 0px;
    border-radius: 25px;
}
/* menu selection ribbon */
.features a {
    text-decoration: none !important;
    color: #11294d;
}

input[type="number"]{
    height: 48px;
    border-radius: 5px;
    border: solid 1px white;
    background-color: #225e9a;
    text-align: center;
    color: white;
    font-weight: bold;
}

::placeholder {
    color: white;
    font-family: Montserrat;
    font-weight: bold;
}


.menu-ribbon{
    margin: 20px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features{
    /* background-color: aqua; */
    font-size:1rem;
    font-family: Montserrat;
    display: flex;
    gap:20px;
}

.main-feature{
    /* background-color: rgb(111, 230, 21); */
    margin: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}

#title{
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    font-family: montserrat;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    filter: drop-shadow(rgb(110, 110, 110) 0 0 5px);
}


.user-inputs{
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 500px;
}

#origin-select{
    margin-top: 15px;
}

#destination-select{
    margin-top: 15px;
}

.system-outputs{
    background-color: #11294d;
    color: white;
    width: 800px;
    padding: 50px;
    border-radius: 15px;
    font-family: montserrat;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.border{
    background-color: white;
    height: 200px;
}

#departure-time-value, #arrival-time-value, #available-seats-value, #price-value{
    font-size: 1rem;
    color: #caedff;
}

#price-value{
    margin: 30px;
}

div > p{
    font-weight: bold;
}

.time-output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* align-items: center; */
    gap: 10px
}

.availability-output{
    text-align: center;
}

.fare-output {
    text-align: center;
}

#fb, #x, #email{
    width: 50px;
}

.footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: montserrat, sans-serif;
}


.contact-logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#green-logo, #projectxpartnership{
    width: 300px;
}

.logos{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}

.contact-details{
    width: 30%;
    text-align: center;
    color: #8cc63e; 
}

.about-the-project{
    width: 30%;
    color: #8cc63e; 
    text-align: justify;
}

.about-texts > span{
    color: #6bb331;
}

div {
    flex-wrap: wrap;
}

.features-navbar{
    display: none;
}

.project-partnership-mobile{
    display: none;
}

@media (min-width:600px) and (max-width:930px) {

    .project-partnership-mobile{
    display: none;
    }
    
    .features{
        font-size:0.6rem;
        font-family: Montserrat;
        display: flex;
        gap:20px;
    }

    #logo{
        width: 50px;
    }

    #home{
    background-color: #8cc63e;
    color: white;
    padding:5px;
    margin: 0px;
    border-radius: 50px;
    }

    #landmarks, #schedule, #sign-in{
        padding:5px;
        margin: 0px;
        border-radius: 25px;
    }

    #title{
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    font-family: montserrat;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    filter: drop-shadow(rgb(110, 110, 110) 0 0 5px);
    text-align: center;
    }

    .system-outputs{
    background-color: #11294d;
    color: white;
    width: 500px;
    height: 250px;
    padding: 50px;
    border-radius: 15px;
    font-family: montserrat;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    }
    
    .border{
    background-color: white;
    height: 160px;
    }

    .footer{
    font-size: 0.5rem;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    font-family: montserrat, sans-serif;
    }

    .contact-logos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #green-logo, #projectxpartnership{
        width: 100px;
    }

    .logos{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: black; */
    }

    .contact-details{
        width: 30%;
        text-align: center;
        color: #8cc63e; 
    }

    .about-the-project{
        font-size: 0.4rem;
        width: 30%;
        color: #8cc63e; 
        text-align: justify;
    }

    #fb, #x, #email{
    width: 20px;
    }
}

@media (max-width:599px) {
    
    .navbar{
    display: inline-flex !important;
    }

    #logo{
        width: 3rem;
    }
    
    .features{
        display: none;
    }

    .features-navbar{
        padding: 0px !important;
        margin: 0px !important;
        display: inline-block;
        transform: scale(0.8) !important;
        /* background-color: #11294d; */
    }

    #title{
    font-size: 2.5rem;
    padding: 0px;
    text-align: center;
    }

    .user-inputs{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 200px !important;
    /* gap: 10px; */
    }

    .border{
        display: none;
    }

    #border2 {
        display: inline-block;
        grid-area: 1 / 2 / 4 / 2;
        height: 150px;
    }

    .system-outputs{
        background-color: #11294d;
        color: white;
        width: 250px;
        height: 210px;
        /* padding: 50px; */
        border-radius: 15px;
        font-family: montserrat;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        column-gap: 20px;
        row-gap: 5px;
        align-content: center;
        margin: 0px;
    }

    .time-output{
        background-color: #11294d;
        font-size: 0.7rem;
        grid-area: 1 / 1 / 4 / 1;
        align-self: center;
        justify-self: center; 
    }

    .availability-output{
        font-size: 0.7rem;
        grid-area: 1 / 3 / 2 / 3;
        align-self: center;
        justify-self: center; 
    }

    .fare-output{
        font-size: 0.7rem;
        grid-area: 3 / 3 / 4 / 3;
        align-self: center;
        justify-self: center; 
    }

    #departure-time-value, #arrival-time-value, #available-seats-value, #price-value{
    font-size: 0.6rem;
    color: #caedff;
    }

    .footer{
    font-size: 0.5rem;
    padding: 20px;
    background-color: white;
    font-family: montserrat, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }

    .contact-logos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #green-logo, #projectxpartnership{
        width: 100px;
    }

    .logos{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-self: center; 
        /* background-color: black; */
    }

    .contact-details{
        width: 50%;
        text-align: center;
        color: #8cc63e; 
        grid-area: 2 / 1 / 3 / 1;
        align-self: center;
        justify-self: center; 

    }

    .about-the-project{
        font-size: 0.4rem;
        width: 50%;
        color: #8cc63e; 
        text-align: justify;
        grid-area: 1 / 2 / 3 / 2;
        align-self: center;
        justify-self: center; 
    }

    #fb, #x, #email{
    width: 20px;
    }

    #origin-select, #destination-select{
        font-size: 0.8rem !important;
        width: 250px !important;
        margin: 0px !important;
    }

    input[type="number"]{
        font-size: 0.8rem !important;
        width: 250px !important;
        height: 40px;
        margin: 0px !important;
        border-radius: 8px;
        text-align: left;
        padding-left: 15px;
    }

    .project-partnership{
    display: none;
    }

    .project-partnership-mobile{
    display: inline-block;
    grid-area: 3 / 1 / 4 / 3;
    order: 1;
    align-self: center;
    justify-self: center;
    }

    #projectxpartnership-mobile{
    width: 250px;
    }

    .main-feature{
    /* background-color: rgb(111, 230, 21); */
    margin: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:0px;
    }
}